/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); /* indie flower */

@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap'); /* chewy */

@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap'); /* courgette */

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap'); /* barlow semi condensed */
    

/* GENERAL */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-text: #3f3e3e;
    --clr-btn: #559708;
    --clr-btn-dark: #3f7206;

    --ff-logo: 'Indie Flower', cursive;
    --ff-section-title: 'Chewy', cursive;

    --border-radi-btn: .3em;
    --border-radi-div: .5em;
}

html{
    /* change later*/
}

/* HEADER STUFF */

header{
    display: flex;
    flex-direction: column;
    background-image: url(../backgroundImgs/Pets.jpg);
    background-blend-mode: multiply;
    background-color: rgb(212, 212, 212);
}

.logo{
    font-size: 4rem;
    text-align: center;
    font-family: var(--ff-logo);
}

.logo a{
    text-decoration: none;
    color: black;
}

/* FOOTER STUFF */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10em;
    background-color: var(--clr-btn-dark);
}

footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    letter-spacing: 1.5px;
}

/* NAVIGATION */
.navList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.navList li{
    margin: 1rem 5rem;
}

.navList a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.navList a::before{
    content: '';
    display: block;
    flex-direction: column;
    height: 4px;
    width: 100%;
    background: black;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
}

.navList a:hover::before{
    transform: scale(1, 1);
}


/* BUTTONS */

.btn__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .8em;
    margin-bottom: .25em;
}

.btn{
    padding: .2em .5em;
    border-radius: var(--border-radi-btn);
    text-decoration: none;
    color: white;
    text-align: center;
}

.btn:hover{
    background-color: var(--clr-btn-dark);
}

.btn + .btn{
    margin-left: 1.5em;
}

.btn-color{
    background-color: var(--clr-btn);
}

/* TYPOGRAPHY */

p{
    color: var(--clr-text);
}

.section__title{
    font-family: var(--ff-section-title);
}

.pet__title{
    font-family: var(--ff-section-title);
    text-align: center;
}

/* MAIN WEB LAYOUT */

.main-header{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 1em;
}


 /* pet stuff and viewmore */
.pets-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.pets-wrapper h2{
    margin: 0 1em;
    font-size: 30px;
}

.pets{
    display: flex;
    flex-direction: row;
    margin: 0 1em;
    padding: 1em;
    overflow: auto;
}

.pet,
.viewmore{
    display: flex;
    flex-direction: column;
    padding: .5em .5em 0 .5em;
    min-width: 230px;
    max-width: 230px;
    border-radius: var(--border-radi-div);
    box-shadow: 0 0 1em rgb(172, 170, 170);
    transition: .3s ease;
}


.viewmore{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    box-shadow: 0 0 .8em rgb(172, 170, 170);
    color: white;
    font-family: var(--ff-section-title);
    background-color: var(--clr-btn);
}

.pet:hover,
.viewmore:hover{
    box-shadow: 0 0 1em rgb(95, 93, 93);
    transition: .3s ease;
}

.pet:hover{
    background-color: #f1f1f1;
}

.viewmore:hover{
    background-color: var(--clr-btn-dark);
    font-size: 1.8em;
}

.pet img{
   max-width: 100%;
   max-height: 100%;
   border-radius: var(--border-radi-div);

}

.pet + .pet{
    margin-left: 1em;
}
.pet + .viewmore{
    margin-left: 16px;
}

.pet__information{
    margin: .7em 0 .1em .7em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 800;
}

.pets__fiter{

}

/* ABOUT WEB LAYOUT */

.about-header{

}

