/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); /* indie flower */

@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap'); /* chewy */
    

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-text: #3f3e3e;

    --ff-logo: 'Indie Flower', cursive;
    --ff-section-title: 'Chewy', cursive;
}

main{
    /* nothing for now */
}

/* HEADER STUFF */

header{
    display: flex;
    flex-direction: column;
    background-image: url(/Web_Dev/backgroundImgs/Pets.jpg);
    background-blend-mode: multiply;
    background-color: rgb(224, 218, 218);
}

.logo{
    font-size: 4rem;
    text-align: center;
    color: black;
    font-family: var(--ff-logo);
}

.logo a{
    text-decoration: none;
    color: black;
}

/* NAVIGATION */
.navList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.navList li{
    margin: 1rem 5rem;
}

.navList a{
    text-decoration: none;
    color: black;
}

.navList a:hover{
    text-decoration: overline;
}

/* BUTTONS */

/* TYPOGRAPHY */

p{
    color: var(--clr-text);
}

.section__title{
    font-family: var(--ff-section-title);
}

.pet__title{
    font-family: var(--ff-section-title);
}

/* MAIN WEB LAYOUT */

.main-header{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 1em;
}

.main-header img{

    width: 40rem;
}

.pets-wrapper{
    display: flex;
    flex-direction: row;


}

.pets{
    border: 2px solid green;
    padding: 0em;
    display: flex;
    flex-direction: row;

}

.pet{
    
}

.pets__filter{
    border: 2px solid blue;
    padding: 10em;

}

