/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); /* indie flower */

@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap'); /* chewy */
    

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-text: #3f3e3e;
    --clr-btn: #559708;

    --ff-logo: 'Indie Flower', cursive;
    --ff-section-title: 'Chewy', cursive;

    --border-radi-btn: .3em;
    --border-radi-div: .5em;
}

main{
    /* change later*/
    height: 200vh;
}

/* HEADER STUFF */

header{
    display: flex;
    flex-direction: column;
    background-image: url(../backgroundImgs/Pets.jpg);
    background-blend-mode: multiply;
    background-color: rgb(224, 218, 218);
}

.logo{
    font-size: 4rem;
    text-align: center;
    font-family: var(--ff-logo);
}

.logo a{
    text-decoration: none;
    color: black;
}

/* NAVIGATION */
.navList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.navList li{
    margin: 1rem 5rem;
}

.navList a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    
}

.navList a:hover{
    text-decoration: overline;
}

/* BUTTONS */

.btn__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .8em;
}

.btn{
    padding: .3em .8em;
    border-radius: var(--border-radi-btn);
    text-decoration: none;
    color: white;
    text-align: center;
}

.btn:hover{
    background-color: #427706;
}

.btn + .btn{
    margin-left: 1.5em;
}

.btn-color{
    background-color: var(--clr-btn);
}

/* TYPOGRAPHY */

p{
    color: var(--clr-text);
}

.section__title{
    font-family: var(--ff-section-title);
}

.pet__title{
    font-family: var(--ff-section-title);
    text-align: center;
}

/* MAIN WEB LAYOUT */

.main-header{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 1em;
}

.main-header img{

    width: 40rem;
}

 /* pet stuff */
.pets-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.pets-wrapper h2{
    margin: 0 1em;
    font-size: 30px;
}

.pets{
    padding: .6em;
    display: flex;
    flex-direction: row;
    margin: 0 1em;
    overflow: auto;
}

.pet{
    display: flex;
    flex-direction: column;
    /*border: 2px solid blue;*/
    padding: .5em;
    width: 300px;
    
    border-radius: var(--border-radi-div);
    box-shadow: 0 0 1em rgb(172, 170, 170);
}

.pet:hover{
    box-shadow: 0 0 1em rgb(126, 123, 123);
}

.pet img{
   width: 190px;
   height: 170px;
   border-radius: var(--border-radi-div);
}

.pet + .pet{
    margin-left: 1em;
}

.pets__filter{

}

.pet__information{
    margin: .7em 0 0 .7em;
}

.pet__information p + p{
    margin-top: 1em;
}

